header {
  position: absolute;
}

.nonDefaultLayout{
  padding-top: 21.5% !important;

  @media screen and (min-width: $md){
    padding-top: 10.5% !important;

  }
}

.menuBtn {
  position: fixed !important;
  z-index: 20;
  right: 4%;
  top: 5%;
}

.menuDrawer{
  // position: fixed;
  // z-index: 10;
}

.menu {
  position: fixed;
  left: -100%;
  border: 2px solid red;
  z-index: 20;
  background-color: rgba(#ffffff, 0.4);
}

.menusign {
  color: blue;
}

.menuDrawer{

  & a {

    text-decoration: none;
  }

}

.menuItemText{
  text-transform: uppercase;
  text-decoration: none;

  &:hover{
    text-decoration: none;
    text-decoration: none;
  }
}


.logoNlang{
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 4%;
  top: 0.2%;
  z-index: 10000;
  width: 33%;

  & img.logo {
    width: 100%;

  }
  @media screen and (min-width: $sm){

    width: 24%;
  }

  @media screen and (min-width: $md){
    top: 0.3%;
    width: 16%;

  }
}

.flags{
  display: flex;
  justify-content: center;
  &>a{
    width: 18%;
    margin: 4%;
    @media screen and (min-width: $md){
      width: 12%;

    }
  }
}

.flag{
  width: 100%;
}
